DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=food_ordering_db
ADMIN_GATE_USERNAME=choose_an_admin_gate_username
ADMIN_GATE_PASSWORD=choose_a_unique_admin_gate_password
SESSION_SECRET=generate_a_random_secret_of_at_least_32_characters
